* {
  box-sizing: border-box;
/*border-box indique au navigateur de prendre en compte la bordure et
le remplissage dans la valeur définie pour la largeur et la hauteur.
Autrement dit, si on définit un élément avec une largeur de 100 pixels,
ces 100 pixels inclueront la bordure et le remplissage éventuellement ajoutés
et c'est le contenu de la boîte qui sera compressé pour absorber
cette largeur supplémentaire. Cela permet généralement de simplifier
le dimensionnement des éléments.*/
}

html, body {
    height: 99%;
    width: 99%;
}
.ZoneDeJeu {
  display: grid;
  grid-template-rows: 10% 1fr 3%;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap : 25px;
  height: 98%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  margin-top: 0;

}

.ZoneDeJeu > * {
    border: 1px solid black;
}

.ZoneDeJeu .total-count {
    grid-area: 1/1/2/4;
}

.game-area{
    grid-area: 2/2/3/3;
    list-style: none;
}

.game-area li{
    
    display: flex;
    flex-wrap: wrap;
}

body {
  counter-reset: game; /*On initialise le compteur, appelé "game", à 0*/
  text-align: center; /*On aligne le texte horizobtalement*/
  background: #e9b58b; /*Couleur de fond*/
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #333;
}

input:checked { /*lorsque'on l'on clique sur une cible ...*/
  counter-increment: game; /*.. on incrémente (+1) le compteur, appelé "game"*/
}

.total-count::after { /*Ajoute un texte après l'élément' de classe "total-count"*/
  content: counter(game);/*Ajoute le nombre de points*/
}


.total-count {
  font-size: 1.75em;
  position: absolute;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  z-index: 300;
  background-color: white;
}



div {
  width: calc(33% - .5em);
  margin-bottom: 1em;
  height: 10em;
  list-style: none;
  position: relative;
  outline: 4px solid white;
  background: #64ddf3;
}


input[type="checkbox"] {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: crosshair;
  background-image: url("mouche.png");
  background-size: 90px, 90px;
  border-radius: 50%;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 6px solid red;
  z-index: 1;
  position: relative;
  opacity: 0;
}

input[type="checkbox"]:focus {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type="checkbox"]:checked {
  pointer-events: none;
  -webkit-filter: grayscale(1) opacity(0.75);
          filter: grayscale(1) opacity(0.75);
  -webkit-animation: dead;
          animation: dead;
 -webkit-animation-duration: 2s;
 animation-duration: 2s;
  opacity: 0;
}
input[type="checkbox"]:checked:after {
  content: '+1!';
  padding: .5em;
  margin: 1em 0 0 5em;
  font-size: 2.5em;
  font-weight: 600;
}


li .mouche1 {
-webkit-animation: hide-target1 infinite alternate ease-in-out;
        animation: hide-target1 infinite alternate ease-in-out;
-webkit-animation-duration: 4s;
        animation-duration: 4s;
opacity: 1;

}

li .mouche2 {
-webkit-animation: hide-target1 infinite alternate ease-in-out;
        animation: hide-target1 infinite alternate ease-in-out;
-webkit-animation-duration: 4s;
        animation-duration: 4s;
}
li .mouche3 {
-webkit-animation: hide-target2 infinite alternate ease-in-out;
        animation: hide-target2 infinite alternate ease-in-out;
-webkit-animation-duration: 4s;
        animation-duration: 4s;
        
}
li .mouche4 {
-webkit-animation: hide-target1 infinite alternate ease-in-out;
        animation: hide-target1 infinite alternate ease-in-out;
-webkit-animation-duration: 4s;
        animation-duration: 4s;
}
li .mouche5 {
-webkit-animation: hide-target2 infinite alternate ease-in-out;
    animation: hide-target2 infinite alternate ease-in-out;
-webkit-animation-duration: 4s;
    animation-duration: 4s;
}
li .mouche6 {
-webkit-animation: hide-target1 infinite alternate ease-in-out;
        animation: hide-target1 infinite alternate ease-in-out;
-webkit-animation-duration: 1s;
        animation-duration: 1s;
}


.mouche1:checked  ~ .mouche2, .mouche1:checked  ~ .mouche3{
        opacity: 1;
}

.mouche3:checked  ~ .mouche4, .mouche3:checked  ~ .mouche5, .mouche3:checked  ~ .mouche6{
    opacity: 1;
}

@-webkit-keyframes hide-target1 {
    0% {
     top: 0;
   }
  10% {
      left: 40%;
  }
   25% {
     top: 400%;
   }
   
   50%{
       left: -35%;
   }
   100% {
     top: 200%;
   }
}

@keyframes hide-target1 {
  0% {
     top: 0;
   }
  10% {
      left: 40%;
  }
   25% {
     top: 400%;
   }
   
   50%{
       left: -35%;
   }
   100% {
     top: 200%;
   }
}


@-webkit-keyframes hide-target2 {
  
  0% {
    top: 0;
  }
  10%{
    left:40%;
  }
  20% {
    top: 360%;
    right:12%;
  }
  30% {
    top: 100%;
    left:-17%;
  }
  40%{
    top: 50%;
    left : 35%;
 }
  50% {
    top:65%;
    left:-45%;
  }
  60% {
    top: 105%;
    left : 27%;
  }
  70%{
    top:150%;
    left:16%;
  }
  80%{
    top:320%;
    left:-50%;
  }
  90% {
    top: 140%;
    left: -48%;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-target2 {
  0% {
    top: 0;
  }
  10%{
    left:40%;
  }
  20% {
    top: 360%;
    right:12%;
  }
  30% {
    top: 100%;
    left:17%;
  }
  40%{
    top: 50%;
    left : 35%;
 }
  50% {
    top:165%;
    left:-45%;
  }
  60% {
    top: 105%;
    left : 27%;
  }
  70%{
    top:150%;
    left:16%;
  }
  80%{
    top:320%;
    left: -50%;
  }
  90% {
    top: 140%;
    left: -48%;
  }
  100% {
    top: 0;
  }
}













@-webkit-keyframes dead {
    0%{
        opacity:1 ;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes dead {
  0%{
      opacity:1;
  }
  50%{
      opacity:1;
  }
  100%{
      opacity: 0;
  }
}


.instructions { /*apparence de l'écran game over*/
  height: 100%;
  width: 100%;
  display: block;
  background: white;
  pointer-events: all; /*gg*/
  position: absolute;
  z-index: 500; /*gg*/
  -webkit-animation: disappear .25s forwards; /*gg*/
          animation: disappear .25s forwards;
-webkit-animation-delay: 5s;
aniamtion-delay: 5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  background: repeating-linear-gradient(-45deg, #c9ff00 0, #c9ff00 5em, #20c0ff 5em, #20c0ff 10em);
}
.instructions h1 { /*Apparence du texte "Game Over"*/
  padding: 1em 0 3.5em;
  background: white;
}

@keyframes disappear {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100vh;
    opacity: 0;
  }
}
 .game-over { /*apparence de l'écran game over*/
  height: 100%;
  width: 100%;
  display: block;
  background: white;
  pointer-events: all; /*gg*/
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 200; /*gg*/
  -webkit-animation: appear .25s forwards; /*gg*/
          animation: appear .25s forwards;
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
  background: repeating-linear-gradient(-45deg, #c9ff00 0, #c9ff00 5em, #20c0ff 5em, #20c0ff 10em);
}

.game-over h1 { /*Apparence du texte "Game Over"*/
  padding: 1em 0 3.5em;
  background: white;
  margin-top: 4%;
}

@keyframes appear {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}



.play-again { /*Apparence du lien "Play Again"*/
  background: white;
  color: #20c0ff;
  padding: .5em 1em;
  font-size: 2.5em;
  font-weight: 700;
}
